<launch>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <param name="robot_description" type="str" textfile="$(find sim_lecture)/urdf/arm_robot1.urdf"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model arm_robot -param robot_description"/>
    <rosparam>
        arm_robot:
            joint_state_controller:
                type: joint_state_controller/JointStateController
                publish_rate: 50

            arm1_joint_position_controller:
                type: effort_controllers/JointPositionController
                joint: arm1_joint
                pid: {p: 100.0, i: 0.01, d: 10.0 }
    </rosparam>

    <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen" ns="/arm_robot"
        args="arm1_joint_position_controller joint_state_controller"/>
</launch>
